
@font-face{
  font-family: "Gilroy";
  src : url("../fonts/Gilroy-Regular.ttf");
}
@font-face{
  font-family: "Gilroy - Extra Bold";
  src : url("../fonts/Gilroy-ExtraBold.ttf");
}
@font-face{
  font-family: "Gilroy-Bold";
  src : url("../fonts/Gilroy-Bold.ttf");
}
//@font-face{
//font-family: "Robot-reg";
//src : url("../fonts/Roboto/Roboto-Regular.ttf");
//}
//@font-face{
//  font-family: "Robot-light";
//  src : url("../fonts/Roboto/Roboto-Light.ttf");
//}
//@font-face{
//  font-family: "Robot-med";
//  src : url("../fonts/Roboto/Roboto-Medium.ttf");
//}
//@font-face{
//  font-family: "Robot-bol";
//  src : url("../fonts/Roboto/Roboto-Bold.ttf");
//}
//@font-face{
//  font-family: "Alise-reg";
//  src : url("../fonts/Alice-Regular.ttf");
//}
//@font-face{
//  font-family: "Gilroy Bold";
//  src : url("../fonts/Gilroy-Bold.ttf");
//}
//@font-face{
//  font-family: "Roboto";
//  src : url("../fonts/Roboto.ttf");
//}
//@font-face{
//  font-family: "GilroyExtraBold";
//  src : url("../fonts/Gilroy-ExtraBold.ttf");
//}
//@font-face{
//  font-family: "GilroyBlack";
//  src : url("../fonts/Gilroy-Black.ttf");
//}